--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--





--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'md53175bce1d3201d16594cebf9d7eb3f9d';






--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 12.11 (Debian 12.11-1.pgdg110+1)
-- Dumped by pg_dump version 12.11 (Debian 12.11-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 12.11 (Debian 12.11-1.pgdg110+1)
-- Dumped by pg_dump version 12.11 (Debian 12.11-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'en_US.utf8' LC_CTYPE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- Name: dumbstats; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA dumbstats;


ALTER SCHEMA dumbstats OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: stats; Type: TABLE; Schema: dumbstats; Owner: postgres
--

CREATE TABLE dumbstats.stats (
    id integer NOT NULL,
    "time" timestamp without time zone,
    started integer,
    finished integer,
    truthgame_b integer,
    truthgame_nb integer,
    mistakeorlie_b integer,
    mistakeorlie_nb integer,
    putin_lies_b integer,
    putin_lies_nb integer,
    putin_old_lies_b integer,
    putin_old_lies_nb integer,
    ucraine_or_not_game_b integer,
    ucraine_or_not_game_nb integer,
    normal_game_b integer,
    normal_game_nb integer
);


ALTER TABLE dumbstats.stats OWNER TO postgres;

--
-- Name: stats_id_seq; Type: SEQUENCE; Schema: dumbstats; Owner: postgres
--

CREATE SEQUENCE dumbstats.stats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE dumbstats.stats_id_seq OWNER TO postgres;

--
-- Name: stats_id_seq; Type: SEQUENCE OWNED BY; Schema: dumbstats; Owner: postgres
--

ALTER SEQUENCE dumbstats.stats_id_seq OWNED BY dumbstats.stats.id;


--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    t_id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: mistakeorlie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mistakeorlie (
    id integer NOT NULL,
    asset_name character varying,
    belivers integer NOT NULL,
    nonbelivers integer NOT NULL,
    rebuttal character varying,
    text_name character varying,
    truth boolean
);


ALTER TABLE public.mistakeorlie OWNER TO postgres;

--
-- Name: new_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.new_assets (
    t_id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.new_assets OWNER TO postgres;

--
-- Name: normal_game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.normal_game (
    id integer NOT NULL,
    asset_name character varying(50),
    text_name character varying(50),
    belivers integer,
    nonbelivers integer,
    rebuttal character varying(50)
);


ALTER TABLE public.normal_game OWNER TO postgres;

--
-- Name: putin_lies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.putin_lies (
    id integer NOT NULL,
    asset_name character varying(50),
    text_name character varying(50),
    belivers integer,
    nonbelivers integer,
    rebuttal character varying(50)
);


ALTER TABLE public.putin_lies OWNER TO postgres;

--
-- Name: putin_old_lies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.putin_old_lies (
    id integer NOT NULL,
    asset_name character varying(50),
    text_name character varying(50),
    belivers integer,
    nonbelivers integer,
    rebuttal character varying(50)
);


ALTER TABLE public.putin_old_lies OWNER TO postgres;

--
-- Name: texts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.texts (
    text text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.texts OWNER TO postgres;

--
-- Name: truthgame; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.truthgame (
    id integer NOT NULL,
    truth boolean NOT NULL,
    asset_name character varying,
    text_name character varying,
    belivers integer NOT NULL,
    nonbelivers integer NOT NULL,
    rebuttal character varying,
    reb_asset_name character varying
);


ALTER TABLE public.truthgame OWNER TO postgres;

--
-- Name: ucraine_or_not_game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucraine_or_not_game (
    id integer NOT NULL,
    asset_name character varying(50),
    text_name character varying(50),
    belivers integer,
    nonbelivers integer,
    rebuttal character varying(50),
    truth boolean NOT NULL
);


ALTER TABLE public.ucraine_or_not_game OWNER TO postgres;

--
-- Name: stats id; Type: DEFAULT; Schema: dumbstats; Owner: postgres
--

ALTER TABLE ONLY dumbstats.stats ALTER COLUMN id SET DEFAULT nextval('dumbstats.stats_id_seq'::regclass);


--
-- Data for Name: stats; Type: TABLE DATA; Schema: dumbstats; Owner: postgres
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mistakeorlie; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mistakeorlie (id, asset_name, belivers, nonbelivers, rebuttal, text_name, truth) FROM stdin;
\.


--
-- Data for Name: new_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: normal_game; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.normal_game (id, asset_name, text_name, belivers, nonbelivers, rebuttal) FROM stdin;
4	normal_game_4	normal_game_4	1063	154	\N
5	normal_game_5	normal_game_5	1055	83	\N
6	normal_game_6	normal_game_6	826	122	\N
7	normal_game_7	normal_game_7	812	62	\N
1	normal_game_1	normal_game_1	1655	295	\N
2	normal_game_2	normal_game_2	1379	159	\N
3	normal_game_3	normal_game_3	1346	128	\N
\.


--
-- Data for Name: putin_lies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.putin_lies (id, asset_name, text_name, belivers, nonbelivers, rebuttal) FROM stdin;
5	putin_lie_game_5	putin_lie_game_5	53	64	\N
1	putin_lie_game_1	putin_lie_game_1	124	82	\N
2	putin_lie_game_2	putin_lie_game_2	72	99	\N
3	putin_lie_game_3	putin_lie_game_3	77	77	\N
4	putin_lie_game_4	putin_lie_game_4	54	79	\N
\.


--
-- Data for Name: putin_old_lies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.putin_old_lies (id, asset_name, text_name, belivers, nonbelivers, rebuttal) FROM stdin;
5	putin_oldlie_game_5	putin_oldlie_game_5	28	141	\N
1	putin_oldlie_game_1	putin_oldlie_game_1	51	160	\N
2	putin_oldlie_game_2	putin_oldlie_game_2	33	157	\N
3	putin_oldlie_game_3	putin_oldlie_game_3	60	121	\N
4	putin_oldlie_game_4	putin_oldlie_game_4	48	125	\N
\.


--
-- Data for Name: texts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: truthgame; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.truthgame (id, truth, asset_name, text_name, belivers, nonbelivers, rebuttal, reb_asset_name) FROM stdin;
6	t	truthgame_6	truthgame_6	300	690	tgame_reb_6	tgame_reb_6
8	f	truthgame_8	truthgame_8	534	340	tgame_reb_8	tgame_reb_8
1	f	truthgame_1	truthgame_1	132	1000	tgame_reb_1	tgame_reb_1
2	f	truthgame_2	truthgame_2	663	1663	tgame_reb_2	tgame_reb_2
4	t	truthgame_4	truthgame_4	572	793	tgame_reb_4	tgame_reb_4
5	f	truthgame_5	truthgame_5	299	851	tgame_reb_5	\N
\.


--
-- Data for Name: ucraine_or_not_game; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucraine_or_not_game (id, asset_name, text_name, belivers, nonbelivers, rebuttal, truth) FROM stdin;
1	country_game_1	hello	121	229	\N	t
2	country_game_2	hello	72	273	\N	f
3	country_game_3	hello	142	196	\N	f
4	country_game_4	hello	246	77	\N	t
5	country_game_5	hello	149	153	\N	t
6	country_game_6	hello	187	94	\N	t
7	country_game_7	hello	37	233	\N	f
8	country_game_8	hello	97	156	\N	f
9	country_game_9	hello	169	68	\N	t
10	country_game_10	hello	36	186	\N	f
\.


--
-- Name: stats_id_seq; Type: SEQUENCE SET; Schema: dumbstats; Owner: postgres
--

SELECT pg_catalog.setval('dumbstats.stats_id_seq', 1, false);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (name);


--
-- Name: mistakeorlie mistakeorlie_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mistakeorlie
    ADD CONSTRAINT mistakeorlie_pk PRIMARY KEY (id);


--
-- Name: new_assets new_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.new_assets
    ADD CONSTRAINT new_assets_pkey PRIMARY KEY (name);


--
-- Name: normal_game normal_game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.normal_game
    ADD CONSTRAINT normal_game_pkey PRIMARY KEY (id);


--
-- Name: putin_lies putin_lies_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putin_lies
    ADD CONSTRAINT putin_lies_pk PRIMARY KEY (id);


--
-- Name: putin_old_lies putin_old_lies_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putin_old_lies
    ADD CONSTRAINT putin_old_lies_pk PRIMARY KEY (id);


--
-- Name: texts texts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.texts
    ADD CONSTRAINT texts_pkey PRIMARY KEY (name);


--
-- Name: truthgame truthgame_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.truthgame
    ADD CONSTRAINT truthgame_pk PRIMARY KEY (id);


--
-- Name: ucraine_or_not_game ucraine_or_not_game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucraine_or_not_game
    ADD CONSTRAINT ucraine_or_not_game_pkey PRIMARY KEY (id);


--
-- Name: truthgame Text_rebbuttal; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.truthgame
    ADD CONSTRAINT "Text_rebbuttal" FOREIGN KEY (rebuttal) REFERENCES public.texts(name) ON DELETE SET NULL;


--
-- Name: mistakeorlie mistakeorlie_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mistakeorlie
    ADD CONSTRAINT mistakeorlie_fk FOREIGN KEY (asset_name) REFERENCES public.assets(name);


--
-- Name: mistakeorlie mistakeorlie_fk_1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mistakeorlie
    ADD CONSTRAINT mistakeorlie_fk_1 FOREIGN KEY (text_name) REFERENCES public.texts(name);


--
-- Name: normal_game normal_game_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.normal_game
    ADD CONSTRAINT normal_game_fk FOREIGN KEY (text_name) REFERENCES public.texts(name) ON DELETE SET NULL;


--
-- Name: ucraine_or_not_game normal_game_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucraine_or_not_game
    ADD CONSTRAINT normal_game_fk FOREIGN KEY (text_name) REFERENCES public.texts(name) ON DELETE SET NULL;


--
-- Name: normal_game normal_game_fk_1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.normal_game
    ADD CONSTRAINT normal_game_fk_1 FOREIGN KEY (asset_name) REFERENCES public.assets(name) ON DELETE SET NULL;


--
-- Name: ucraine_or_not_game normal_game_fk_1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucraine_or_not_game
    ADD CONSTRAINT normal_game_fk_1 FOREIGN KEY (asset_name) REFERENCES public.assets(name) ON DELETE SET NULL;


--
-- Name: putin_lies putin_lies_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putin_lies
    ADD CONSTRAINT putin_lies_fk FOREIGN KEY (text_name) REFERENCES public.texts(name) ON DELETE SET NULL;


--
-- Name: putin_lies putin_lies_fk_1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putin_lies
    ADD CONSTRAINT putin_lies_fk_1 FOREIGN KEY (asset_name) REFERENCES public.assets(name) ON DELETE SET NULL;


--
-- Name: putin_old_lies putin_old_lies_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putin_old_lies
    ADD CONSTRAINT putin_old_lies_fk FOREIGN KEY (text_name) REFERENCES public.texts(name) ON DELETE SET NULL;


--
-- Name: putin_old_lies putin_old_lies_fk_1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putin_old_lies
    ADD CONSTRAINT putin_old_lies_fk_1 FOREIGN KEY (asset_name) REFERENCES public.assets(name) ON DELETE SET NULL;


--
-- Name: truthgame truthgame_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.truthgame
    ADD CONSTRAINT truthgame_fk FOREIGN KEY (asset_name) REFERENCES public.assets(name) ON DELETE SET NULL;


--
-- Name: truthgame truthgame_fk_1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.truthgame
    ADD CONSTRAINT truthgame_fk_1 FOREIGN KEY (text_name) REFERENCES public.texts(name) ON DELETE SET NULL;


--
-- Name: truthgame truthgame_fk_2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.truthgame
    ADD CONSTRAINT truthgame_fk_2 FOREIGN KEY (reb_asset_name) REFERENCES public.assets(name) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

